---
import { Image } from 'astro:assets';

import Icon from '@/components/common/Icon';
import SectionHeader from '@/components/common/SectionHeader/SectionHeader.astro';

import worship from '@/assets/images/worship.png';
import bless from '@/assets/images/bless.png';
import congregate from '@/assets/images/congregate.png';
import { SECTIONS } from '@/constants/sections';

const items = [
	{
		icon: 'bible',
		title: 'Adorar',
		image: {
			src: worship,
			alt: 'Personas adorando a Dios',
		},
		description:
			'Adorar a nuestro Dios en espíritu y verdad (Juan 4:24) a través de la piedad, consagración, la música y TODO lo que hacemos sea para la Gloria y adoración de Dios (1ra. Cor. 10:31).',
	},
	{
		icon: 'heart',
		title: 'Bendecir',
		image: {
			src: bless,
			alt: 'PUn grupo de niños de la iglesia celebrando con decoración.',
		},
		description:
			'Bendecir a nuestros semejantes, nuestra búsqueda de cada día enfocada en BENDECIR vidas con el evangelio, servicio y obras de amor que manifiestan que el amor de Dios reina en nuestras vidas. (Mt. 22:37-40).',
	},
	{
		icon: 'user-group',
		title: 'Congregar',
		image: {
			src: congregate,
			alt: 'Personas sentadas en la iglesia con un predicador en la tarima.',
		},
		description:
			'Congregarnos regularmente como lo ordena la escritura (Heb. 10:25) para dar testimonio del evangelio a los perdidos, la comunión y fraternidad, y la práctica de las ordenanzas del Señor como son: La cena del Señor (Comunión) y el bautismo en agua y la edificación espiritual a través del estudio y la predicación Bíblica.',
	},
];
---

<section
	class="w-full p-4 md:p-6 py-12 lg:py-24 flex flex-col items-center bg-secondary"
	id={SECTIONS.PURPOSE.path.replace('#', '')}
>
	<SectionHeader
		title="El ABC de Nuestra Existencia"
		description="¿Para qué existimos como iglesia?"
	/>
	<div
		class="w-full max-w-5xl flex flex-col items-center lg:items-stretch lg:flex-row gap-5"
	>
		{
			items?.map(({ icon, title, description, image }) => (
				<div class="w-full sm:max-w-lg lg:max-w-1/3 p-5 flex flex-col gap-3 items-center rounded-md md:rounded-xl bg-primary">
					<Image
						src={image.src}
						alt={image.alt}
						width={300}
						height={200}
						class="w-full aspect-[16/9] object-cover rounded-md md:rounded-xl"
					/>
					<div class="p-4 rounded-full bg-secondary">
						<Icon name={icon} />
					</div>
					<h2 class="text-secondary text-center  font-bold text-xl">
						{title}
					</h2>
					<p class="md:text-lg text-secondary text-center mb-4">
						{description}
					</p>
				</div>
			))
		}
	</div>
</section>
