---
import Button from '@/components/common/Button';
import Icon from '@/components/common/Icon';
import AppLogo from '@/components/common/AppLogo';

import { FULL_NAME } from '@/constants/config';
import { SOCIAL_NETWORKS } from '@/constants/config';
import { PAGE_SECTIONS } from '@/constants/sections';

const year = new Date().getFullYear();
---

<footer
	class="bg-secondary w-full flex flex-col gap-4 p-4 md:p-6 py-6 md:px-10"
>
	<div
		class="w-full flex flex-col gap-2 lg:flex-row items-center lg:justify-between"
	>
		<AppLogo />
		<div class="flex gap-2">
			{
				SOCIAL_NETWORKS.map(({ icon, url }) => (
					<a
						aria-label={`Navegar hacia el  sitio de ${icon}`}
						href={url}
					>
						<Button
							mode="text"
							size="xs"
							shadow="none"
							aria-label={`Navegar a ${icon}`}
						>
							<Icon name={icon} class="hover:text-light-shade" />
						</Button>
					</a>
				))
			}
		</div>
	</div>
	<small class="text-medium text-center text-xs">
		Todos los derechos reservados © {`${year} ${FULL_NAME}`}
	</small>
</footer>
